<div class="col-xs-12 col-sm-6 text-center contact-header">
  <span class="anchor" id="contact"></span>
  <div class="page-header">
    <h2><%= ENV['OWNER_NAME'] %></h2>
    <h3><%= ENV['OWNER_TITLE'] %></h3>
      <small>
        <%= ENV['ADDRESS_1'] %>
        <br>
        <%= ENV['ADDRESS_2'] %>
        <br>
        <%= ENV['ADDRESS_3'] %>
      </small>
  </div>
</div>
<div class="col-xs-12 col-sm-6 text-center">
  <ul class="list-group contact-blurb">
    <li class="list-group-item">
      <i class="fa fa-phone fa-lg"></i>
      <span class="sr-only">Phone:</span>
      <%= ENV['PHONE'] %>
    </li>

    <li class="list-group-item list-group-link">
      <%= link_to "mailto:info[at]ayosinformatics[dot]com", target: "", alt: "Email" do %>
        <i class="fa fa-envelope-o fa-lg"></i>
        <span class="sr-only">Email:</span>
        info@ayosinformatics.com
      <% end %>
    </li>
  </ul>
</div>

<div class="col-xs-12 col-sm-6">
  <%= render "contact_mes/form" %>
</div>
