<header class="header navbar-fixed-top">
  <nav id="logo-nav" class="logo navbar navbar-default">
    <div class="container">
      <figure id="logo" class="logo">
        <span class="anchor" id="home"></span>
        <%= link_to "Lamington Properties LLC", root_path(anchor: "home"), class: "anchored site-logo-link navbar-brand-big", data: {anchor: "#home"} %>
        <figcaption id="site-slogan">     
        </figcaption>
      </figure>
    </div>
  </nav>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid nav-container">

      <div class="navbar-header">
        <a class="navbar-brand navbar-brand-small site-logo-link" href="<%= root_url %>">LP</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
      </div>

      
      <div class="main-nav collapse navbar-collapse" id="navbar-collapse-1">
        
        <ul class="nav navbar-nav">
         <li class="active">
           <%= link_to root_path(anchor: "Company"), class: "anchored", data: {anchor: "#about"} do %>
             Company <span class="sr-only">(current)</span>
           <% end %>
         </li>
          <li>
            <%= link_to "Properties",
              root_path(anchor: "properties"),
              class: "anchored",
              data: {anchor: "#properties"} %>
          </li>
         <li>
           <%= link_to "Contact",
             root_path(anchor: "contact"),
             class: "anchored",
             data: {anchor: "#contact"} %>
         </li>
         <li>
           <%= link_to "News",
             root_path(anchor: "contact"),
             class: "anchored",
             data: {anchor: "#news"} %>
         </li>
         <li>
           <%= link_to "Services",
             root_path(anchor: "services"),
             class: "anchored",
             data: {anchor: "#services"} %>
         </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
          <ul class="text-center dropdown-menu inverse-dropdown" role="menu">
            <% if signed_in? %>
              <li><%= button_to "Sign Out", session_url, method: :delete, class: "btn btn-link" %></li>
            <% else %>
              <li><%= link_to "Sign In", new_session_url %></li>
            <% end %>
          </ul>
        </li>
        </ul>
      </div>
    </div>
</nav>
</header>